<header class="border-bottom-thick px-2 clearfix">
  <div class="left sm-width-full py-1 mt-1 mt-lg-0">
    <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </div>
  <div class="right sm-width-full">
    <ul class="list-reset right py-1 font-smoothing">
	    <li class="inline-block">
		    <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ site.author.url }}">
            About {{ site.author.name }}
             </a>
	   </li>
    </ul>
  </div>
</header>
