<div class="sidebar">
	<div class="sidebar-about">
      <h1>
        <a href="http://keywords.oxus.net/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
	    
	 
    </nav>
  <div class="container sidebar-sticky">
	  
  <small>
    <p><a href="http://prose.io/#kerim/keywords/tree/gh-pages/_posts">Prose</a> | <a href="https://github.com/kerim/keywords">Github</a> | <a href="https://github.com/poole/hyde">Source</a></p>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
</small>
  </div>
</div>
